{% extends "html/base.html" %}
{% block content %}
<div class="card">
    <form class="form-horizontal" method="POST" action="">
        {% csrf_token %}
        <div class="card-body">
            <h4 class="card-title">자재 수정</h4>
            <div class="form-group row">
                <label for="ts_id" class="col-sm-1 text-end control-label col-form-label">ID(자재코드)</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="ts_id" name="ts_id"
                           value="{{ item.ts_id }}" placeholder="TSP_ID 입력"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="name" class="col-sm-1 text-end control-label col-form-label">품명</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="name" name="name"
                           value="{{ item.name }}" placeholder="품명 입력"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="supply_id" class="col-sm-1 text-end control-label col-form-label">품번</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="supply_id" name="supply_id"
                           value="{{ item.supply_id }}" placeholder="품번(제작사) 입력"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="spec" class="col-sm-1 text-end control-label col-form-label">사양</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="spec" name="spec"
                           value="{{ item.spec }}" placeholder="사양 입력"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="production_company" class="col-sm-1 text-end control-label col-form-label">제작사</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="production_company" name="production_company"
                           value="{{ item.production_company }}" placeholder="제작사 입력"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="supply_company" class="col-sm-1 text-end control-label col-form-label">공급처</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="supply_company" name="supply_company"
                           value="{{ item.supply_company }}" placeholder="공급처 입력"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="unit_price" class="col-sm-1 text-end control-label col-form-label">단가(UNIT)</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="unit_price" name="unit_price"
                           value="{{ item.unit_price }}" placeholder="개당 단가 입력"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="moq_price" class="col-sm-1 text-end control-label col-form-label">단가(MOQ)</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="moq_price" name="moq_price"
                           value="{{ item.moq_price }}" placeholder="MOQ 단가 입력"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="quantity" class="col-sm-1 text-end control-label col-form-label">재고 수량</label>
                <div class="col-sm-5">
                    <input type="number" class="form-control" id="quantity" name="quantity"
                           value="{{ item.quantity }}" placeholder="재고 수량 입력" step="1"
                           min="0" oninput="this.value = this.value.replace(/[^0-9]/g, '');"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="purchase_quantity" class="col-sm-1 text-end control-label col-form-label">구매 수량</label>
                <div class="col-sm-5">
                    <input type="number" class="form-control" id="purchase_quantity" name="purchase_quantity"
                           value="{{ item.purchase_quantity }}" placeholder="구매 수량 입력" step="1"
                           min="0" oninput="this.value = this.value.replace(/[^0-9]/g, '');"/>
                    <button type="button" class="btn btn-outline-info" id="addPurchaseToStock">구매수량 반영</button>
                </div>
            </div>
            <div class="form-group row">
                <label for="moq" class="col-sm-1 text-end control-label col-form-label">MOQ</label>
                <div class="col-sm-5">
                    <input type="number" class="form-control" id="moq" name="moq"
                           value="{{ item.moq }}" placeholder="MOQ 입력"
                           step="1" min="0" oninput="this.value = this.value.replace(/[^0-9]/g, '');"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="delivery_date" class="col-sm-1 text-end control-label col-form-label">납기(장 or 단)</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="delivery_date" name="delivery_date"
                           value="{{ item.delivery_date }}" placeholder="납기(장 or 단) 입력"/>
                </div>
            </div>

            <div class="form-group row">
                <label for="stock_location" class="col-sm-1 text-end control-label col-form-label">위치</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="stock_location" name="stock_location"
                           value="{{ item.stock_location }}" placeholder="재고 위치 입력"/>
                </div>
            </div>


            <div class="form-group row">
                <label for="description" class="col-sm-1 text-end control-label col-form-label">비고</label>
                <div class="col-sm-5">
                    <textarea class="form-control" id="description" name="description"
                              placeholder="설명 입력" rows="5">{{ item.description }}</textarea>
                </div>
            </div>
        </div>

        <div class="border-top">
            <div class="card-body d-flex justify-content-center gap-3">
                <form method="POST" action="">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">수정완료</button>

                    <a href="{% url 'item_delete' item.pk %}" class="btn btn-danger">삭제</a>
                </form>

            </div>
        </div>

    </form>
</div>


    <script>


document.addEventListener('DOMContentLoaded', function () {
        const quantityInput = document.getElementById('quantity');
    const inBtn = document.getElementById('inBtn');
    const outBtn = document.getElementById('outBtn');
    const purchaseInput = document.getElementById('purchase_quantity');
    const addPurchaseBtn = document.getElementById('addPurchaseToStock');


     // 구매수량 반영 버튼: 구매수량을 재고수량에 더하고, 구매수량은 0으로
    addPurchaseBtn.addEventListener('click', function () {
        let purchaseVal = parseInt(purchaseInput.value) || 0;
        let stockVal = parseInt(quantityInput.value) || 0;
        quantityInput.value = stockVal + purchaseVal;
        purchaseInput.value = 0;
    });
});



</script>



{% endblock %}



